<div class="fixed-sitebar-container sitebar-d-none">
  <img
    src="./assets/img/Join-icon.png"
    alt="Join - Logo"
    class="join-logo-image"
  />
  <div class="route-container">
    <div class="four-links-container">
      <div
        routerLink="/summary"
        class="link-container"
        routerLinkActive="active"
      >
        <img src="./assets/img/summary-icon.png" alt="Summary - Logo" />
        <a>Summary</a>
      </div>
      <div class="link-container" routerLink="/board" routerLinkActive="active">
        <img
          src="./assets/img/board-icon.png"
          alt="Board - Logo"
          class="board-img"
        />
        <a>Board</a>
      </div>
      <div
        class="link-container"
        routerLink="/add-task"
        routerLinkActive="active"
      >
        <img src="./assets/img/add-task-icon.png" alt="AddTask - Logo" />
        <a>Add Task</a>
      </div>
      <div
        class="link-container"
        routerLink="/contacts"
        routerLinkActive="active"
      >
        <img src="./assets/img/contacts-icon.png" alt="Contacts - Logo" />
        <a>Contacts</a>
      </div>
    </div>
    <div
      class="legal-notice-container"
      routerLink="/legal-notice"
      routerLinkActive="active"
    >
      <img src="./assets/img/legal-notice-icon.png" alt="Legal Notice - Logo" />
      <a>Legal Notice</a>
    </div>
  </div>
</div>
