<div class="contact-popup-container">
  <img
    src="./assets/img/cross-icon.png"
    alt="X Icon"
    class="cross-image"
    (click)="
      closeContactField(
        'edit-contact-field',
        'contacts-container',
        'add-contact-visible'
      )
    "
  />
  <div class="contact-popup-left-content">
    <img src="./assets/img/Join-icon.png" alt="Join Logo" />
    <h1 class="mt-50">Edit contact</h1>
    <div class="horizontal-line"></div>
  </div>
  <div class="contact-popup-right-content">
    <div class="contact-user-container">
      <img src="./assets/img/contact-user.png" alt="User Image" />
    </div>
    <form class="contact-form-container" *ngIf="selectedContact">
      <label class="form-input-label">
        <input
          type="text"
          name="name"
          class="login-input"
          placeholder="Name"
          [(ngModel)]="selectedContact!.name"
          required
        />
        <img src="./assets/img/user.png" alt="User Symbol" />
      </label>
      <span id="username-error-edit" class="error-message"></span>
      <label class="form-input-label">
        <input
          type="email"
          name="email"
          required
          [(ngModel)]="selectedContact!.email"
          class="login-input"
          placeholder="Email"
        />
        <img src="./assets/img/mail-icon.png" alt="Mailsymbol" />
      </label>
      <span id="email-error-edit" class="error-message"></span>
      <label class="form-input-label">
        <input
          type="tel"
          name="phone"
          class="login-input"
          placeholder="Phone"
          [(ngModel)]="selectedContact!.phone"
          required
        />
        <img src="./assets/img/phone-icon.png" alt="User Symbol" />
      </label>
      <span id="phone-error-edit" class="error-message"></span>
      <div class="add-task-button-container mt-50">
        <button
          class="button-style-white-bg cancel-button-style transition-ease-in-out"
          (click)="deleteContact()"
        >
          Delete
        </button>
        <button
          class="button-style-dark-bg create-task-button-style transition-ease-in-out width-200"
          (click)="saveEditedContact()"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
