<div class="login-register-fmp-container width-850">
  <div class="email-sent-success-container" *ngIf="emailSended">
    <img src="./assets/img/SendCheck.png" alt="Email Send Icon" />
    <span>An E-Mail has been sent to you</span>
  </div>
  <img
    src="./assets/img/Pfeil-links.png"
    alt="Blue Arrow Left"
    class="blue-arrow-left-image"
    (click)="switchToLoginContainer()"
  />
  <h1>I forgot my password</h1>
  <div class="blue-line"></div>
  <p class="fmp-paragraph">
    Don't worry! We will send you an email with the instructions to reset your
    password.
  </p>
  <form class="form-container mt-16">
    <label class="form-input-label">
      <input
        type="email"
        class="login-input"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
      />
      <img src="./assets/img/mail-icon.png" alt="Mailsymbol" />
    </label>
    <div class="forgot-my-password-error-container">
      <span id="fmp-error-message" #fmpErrorMessage></span>
    </div>
    <div class="justify-content-center mt-16">
      <button
        class="send-me-the-email-button"
        (click)="sendResetMail()"
        [disabled]="isButtonDisabled"
      >
        Send me the email
      </button>
    </div>
  </form>
</div>
