<app-sitebar></app-sitebar>
<app-kanbanprojecttoolheader></app-kanbanprojecttoolheader>
<app-groundbar></app-groundbar>

<div class="content-container">
  <div class="summary-container">
    <div class="summary-headline">
      <h1>Summary</h1>
      <div class="vertikal-line bg-color-blue vertikal-line-d-none"></div>
      <span>Everything in a nutshell!</span>
    </div>
    <div class="summary-task-container">
      <div class="summary-tasks-left-container">
        <div class="summary-tasks-top-container">
          <div class="quadrat-task-container" routerLink="/board">
            <span class="font-size-48 font-weight-bold font-size-mobile">{{
              tasks.length
            }}</span>
            <span class="font-size-20 text-align-center"
              >Tasks in <br />
              Board</span
            >
          </div>
          <div class="quadrat-task-container" routerLink="/board">
            <span class="font-size-48 font-weight-bold font-size-mobile">{{
              inProgressTasks.length
            }}</span>
            <span class="font-size-20 text-align-center"
              >Tasks in <br />
              Progress</span
            >
          </div>
          <div class="quadrat-task-container" routerLink="/board">
            <span class="font-size-48 font-weight-bold font-size-mobile">{{
              awaitingFeedbackTasks.length
            }}</span>
            <span class="font-size-20 text-align-center"
              >Awaiting <br />
              Feedback</span
            >
          </div>
        </div>
        <div class="summary-deadline-container" routerLink="/board">
          <div class="deadline-left-container">
            <div class="deadline-show-prio-container">
              <div
                *ngIf="nextDeadlineTask?.priority === 'U'"
                class="prio-image-container bg-urgent"
              >
                <img
                  src="./assets/img/urgent-prio-white.png"
                  alt="Priority Symbol"
                  class="priority-status-image"
                />
              </div>
              <div
                *ngIf="nextDeadlineTask?.priority === 'M'"
                class="prio-image-container bg-medium"
              >
                <img
                  src="./assets/img/medium-prio-white.png"
                  alt="Priority Symbol"
                  class="priority-status-image-medium"
                />
              </div>
              <div
                *ngIf="nextDeadlineTask?.priority === 'L'"
                class="prio-image-container bg-low"
              >
                <img
                  src="./assets/img/low-prio-white.png"
                  alt="Priority Symbol"
                  class="priority-status-image-low"
                />
              </div>
              <div class="show-task-prio-container">
                <span class="font-weight-bold font-size-40">1</span>
                <span>{{ getPriorityText(nextDeadlineTask?.priority) }}</span>
              </div>
            </div>
          </div>
          <div class="vertikal-line bg-color-grey height-100 ml-mr-24"></div>
          <div class="deadline-date-container">
            <span class="font-size-20 font-weight-bold mobile-date-font">{{
              formatDate(nextDeadlineTask?.deadline)
            }}</span>
            <span>Upcoming Deadline</span>
          </div>
        </div>
        <div class="summary-tasks-bottom-container">
          <div class="image-task-container change-todo-image-while-hover">
            <div class="flex-container mr-64" routerLink="/board">
              <span class="font-size-48 font-weight-bold font-size-mobile">{{
                todoTasks.length
              }}</span>
              <span class="font-size-20 text-align-center">To-do</span>
            </div>
          </div>
          <div class="image-task-container change-done-image-while-hover">
            <div class="flex-container mr-64" routerLink="/board">
              <span class="font-size-48 font-weight-bold font-size-mobile">{{
                doneTasks.length
              }}</span>
              <span class="font-size-20 text-align-center">Done</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mr-128 mr-mobile d-none-mobile">
        <span class="font-size-48" id="greeting-time"></span>
        <h2 class="font-size-64 greet-name mt-16" id="greet-user"></h2>
      </div>
    </div>
  </div>
</div>
