<app-sitebar></app-sitebar>
<app-kanbanprojecttoolheader></app-kanbanprojecttoolheader>
<app-groundbar></app-groundbar>

<div class="content-container">
  <div class="add-task-container">
    <h1>Add Task</h1>
    <form class="add-task-content-container" [formGroup]="taskForm">
      <div class="add-task-content-left">
        <span class="span-titles padding-0-mobile">Title</span>
        <input
          formControlName="title"
          type="text"
          placeholder="Enter a title"
          class="input-style"
          required
        />
        <span id="title-error" class="error-message"></span>
        <span class="span-titles padding-0-mobile">Description</span>
        <textarea
          cols="30"
          rows="10"
          placeholder="Enter a description"
          formControlName="description"
          required
        ></textarea>
        <span id="description-error" class="error-message"></span>
        <span class="span-titles padding-0-mobile">Category</span>
        <div class="input-color-container">
          <div style="position: relative">
            <input
              type="text"
              placeholder="Enter a Category"
              formControlName="category"
              required
              class="input-style"
            />
            <span
              class="input-color-indicator"
              [style.backgroundColor]="selectedColor"
            ></span>
          </div>
          <span id="category-error" class="error-message"></span>
          <div class="category-color-container">
            <span
              class="category-color"
              style="background-color: #8aa4ff"
              (click)="setColor('#8aa4ff')"
            ></span>
            <span
              class="category-color"
              style="background-color: #ff0000"
              (click)="setColor('#ff0000')"
            ></span>
            <span
              class="category-color"
              style="background-color: #2ad300"
              (click)="setColor('#2ad300')"
            ></span>
            <span
              class="category-color"
              style="background-color: #ff8a00"
              (click)="setColor('#ff8a00')"
            ></span>
            <span
              class="category-color"
              style="background-color: #e200be"
              (click)="setColor('#e200be')"
            ></span>
            <span
              class="category-color"
              style="background-color: #0038ff"
              (click)="setColor('#0038ff')"
            ></span>
          </div>
        </div>
        <span class="span-titles padding-0-mobile">Assigned to</span>
        <div
          class="assigned-to-container-add-task"
          (click)="showContacts = !showContacts"
        >
          <div class="select-contacts-to-assign">
            <span>Select contacts to assign</span>
            <img src="./assets/img/arrow-down.png" alt="" />
          </div>
          <div
            *ngIf="showContacts"
            class="contact-dropdown-add-task"
            (click)="$event.stopPropagation()"
          >
            <div
              *ngFor="let contact of contacts$ | async"
              class="dropdown-contact"
            >
              <label class="contact-item">
                <span>{{ contact.name }}</span>
                <input
                  type="checkbox"
                  class="input-checkbox"
                  [checked]="contact.checked"
                  (click)="$event.stopPropagation()"
                  (change)="toggleContact(contact, $event)"
                />
              </label>
            </div>
          </div>
        </div>
        <span id="assigned-to-error" class="error-message"></span>
      </div>
      <div class="vertikal-line"></div>
      <div class="add-task-content-right">
        <span class="span-titles">Due date</span>
        <input
          type="date"
          class="selected-inputs-style"
          formControlName="dueDate"
          required
        />
        <span id="date-error" class="error-message"></span>
        <span class="span-titles">Prio</span>
        <div class="prio-container" required>
          <div
            class="prio-content-style bg-urgent transition-ease-in-out"
            id="prio-urgent"
            (click)="
              selectedPrio(
                'prio-urgent',
                'prio-medium',
                'prio-low',
                'bg-urgent-while-clicked',
                'bg-medium-while-clicked',
                'bg-low-while-clicked',
                'U'
              )
            "
          >
            <span>Urgent</span>
          </div>
          <div
            class="prio-content-style bg-medium transition-ease-in-out"
            id="prio-medium"
            (click)="
              selectedPrio(
                'prio-medium',
                'prio-urgent',
                'prio-low',
                'bg-medium-while-clicked',
                'bg-urgent-while-clicked',
                'bg-low-while-clicked',
                'M'
              )
            "
          >
            <span>Medium</span>
          </div>
          <div
            class="prio-content-style bg-low transition-ease-in-out"
            id="prio-low"
            (click)="
              selectedPrio(
                'prio-low',
                'prio-urgent',
                'prio-medium',
                'bg-low-while-clicked',
                'bg-urgent-while-clicked',
                'bg-medium-while-clicked',
                'L'
              )
            "
          >
            <span>Low</span>
          </div>
        </div>
        <span id="priority-error" class="error-message"></span>
        <div class="add-task-button-container">
          <button
            type="button"
            class="button-style-white-bg cancel-button-style transition-ease-in-out mobile-width-clear-button"
            (click)="clearTaskField()"
          >
            Clear
          </button>
          <button
            class="button-style-dark-bg create-task-button-style transition-ease-in-out mobile-width-create-task-button"
            (click)="addTask()"
          >
            Create Task
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
