<div class="groundbar">
  <div routerLink="/summary" class="groundbar-links" routerLinkActive="active">
    <img src="./assets/img/summary-icon.png" alt="Summary Icon" />
    <span>Summary</span>
  </div>
  <div routerLink="/board" class="groundbar-links" routerLinkActive="active">
    <img src="./assets/img/board-icon.png" alt="Board Icon" />
    <span>Board</span>
  </div>
  <div routerLink="/add-task" class="groundbar-links" routerLinkActive="active">
    <img src="./assets/img/add-task-icon.png" alt="Add Task Icon" />
    <span>Add Task</span>
  </div>
  <div routerLink="/contacts" class="groundbar-links" routerLinkActive="active">
    <img src="./assets/img/contacts-icon.png" alt="Contact Icon" />
    <span>Contacts</span>
  </div>
</div>
