.board-container {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}

.board-headline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  h1 {
    font-size: 64px;
    font-weight: bold;
  }
}

.board-headline-right-container {
  display: flex;
  gap: 30px;
}

.board-input-container {
  display: flex;
  position: relative;
  input {
    padding-left: 15px;
    height: 50px;
    width: 250px;
    border-style: unset;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    font-size: 16px;
    &::placeholder {
      font-size: 16px;
      color: #d1d1d1;
    }
    &:focus {
      outline: none;
    }
  }
  img {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

.vertikal-line {
  background-color: #d1d1d1 !important;
  height: 35px !important;
  width: 1px !important;
}

.input-vertikal-line-pos {
  position: absolute;
  right: 50px;
  top: 8px;
}

.add-task-button {
    padding-left: 15px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    height: 50px;
    border-radius: 8px;
    border-style: unset;
    font-size: 21px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    font-weight: bold;
    background-color: #2A3647;
    color: white;
    &:hover{
      background-color: #29ABE2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }
}

.task-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.example-box {
  min-height: 50px;
}

h2 {
  width: 250px !important;
  font-weight: bold;
  font-size: 22px;
}

.each-task-styling-container {
  position: relative;
  height: 200px;
  width: 300px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  padding: 20px;
  cursor: pointer;
  h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }
}

.placeholder-list {
  min-height: 500px;
}

.add-task-container-position {
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 100;
  transition: transform 0.2s ease-in-out;
  transform: translateX(2000px);
}

.show-task-field {
  transform: translateX(0px) !important;
  right: 145px;
}

.give-opacity {
  opacity: 0.3 !important;
  pointer-events: none;
}

.category-style {
  width: 100px;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 5px;
}

.task-description {
  color: #A8A8A8;
  font-size: 16px;
  max-width: auto;
}

.workers-and-priority-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.priority-image {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.assigned-to-workers {
  position: absolute;
  left: 25px;
  bottom: 25px;
}

.add-task-link-img {
  height: 40px;
  background-color: #2A3647;
  border-radius: 8px;
  padding: 8px;
}

.board-headline-left-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.show-user-length-container {
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #d1d1d1;
  padding: 2px 8px;
  border-radius: 8px;
  img {
    height: 20px;
    margin-bottom: 2px;
  }
  span {
    font-size: 22px;
    color: white;
  }
}

@media(max-width: 1740px){
  .each-task-styling-container {
    width: 275px;
  }
}

@media(max-width: 1600px){
  .each-task-styling-container {
    width: 250px;
  }
}

@media(max-width: 1515px){
  .board-container {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

@media(max-width: 1335px){
  .task-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px !important;
  }
  .placeholder-list {
    min-height: 100px !important;
  }
  .each-task-styling-container {
    width: 300px !important;
  }
  .board-headline-right-container {
    margin-bottom: 20px;
  }
}

@media(max-width: 1000px){
  .each-task-styling-container {
    width: 400px !important;
    height: 200px !important;
  }
  .board-headline-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    input {
      width: 350px !important;
    }
    h1 {
      width: 200px;
      margin-bottom: 0;
    }
    .d-none {
      display: block !important;
    }
  }
  .task-container {
    margin-top: 50px;
  }
  .add-task-button {
    display: none;
  }
  .add-task-link-img {
    cursor: pointer;
  }
}

@media(max-width: 650px){
  .task-container {
    margin-left: 35px !important;
  }
}



@media(max-width: 475px){
  .each-task-styling-container {
    width: 350px !important;
  }
  .board-headline-container {
    input {
      width: 250px !important;
    }
  }
  h2 {
    text-align: center !important;
    margin-right: 0px 0px 0px !important
  }
  .flexbox-board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .placeholder-list {
    min-width: 100% !important;
  }
}

@media(max-width: 400px){
  .each-task-styling-container {
    width: 300px !important;
  }
  .task-container {
    margin-left: 0 !important;
  }
}

@media(max-width: 375px){
  .board-container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .each-task-styling-container {
    padding: 15px !important;
    width: 275px !important;
  }
}


