<div class="reset-password-position">
  <img
    src="./assets/img/Capa1.png"
    alt="Join Logo"
    class="move-logo-animation"
  />
  <div class="login-register-fmp-container width-850">
    <div class="email-sent-success-container" *ngIf="passwordResetted">
      <span>Password reset successful</span>
    </div>
    <h1>Reset your password</h1>
    <div class="blue-line"></div>
    <p class="fmp-paragraph">Change your account password</p>
    <form class="form-container mt-16">
      <label class="form-input-label">
        <input
          type="text"
          class="login-input"
          placeholder="New password"
          [(ngModel)]="passwordOne"
          name="passwordOne"
        />
      </label>
      <label class="form-input-label mt-16">
        <input
          type="text"
          class="login-input"
          placeholder="Confirm password"
          [(ngModel)]="passwordTwo"
          name="passwordTwo"
        />
      </label>
      <div class="forgot-my-password-error-container">
        <span id="fmp-error-message" #fmpErrorMessage></span>
      </div>
      <div class="justify-content-center mt-16">
        <button class="send-me-the-email-button" (click)="resetPassword()">
          Continue
        </button>
      </div>
    </form>
  </div>
</div>
