.width-850 {
  width: 850px;
}

.reset-password-position {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.move-logo-animation {
  height: 150px;
  object-fit: cover;
  position: absolute;
      top: 5%;
      left: 5%;
}

.email-sent-success-container {
  position: absolute;
  bottom: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #2A3647;
  padding: 30px 60px;
  z-index: 10;
  border-radius: 12px;
  span {
    font-size: 20px;
    color: white;
  }
}

.forgot-my-password-error-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 20px;
    color: #FF0052;
  }
}

.fmp-paragraph {
  font-size: 24px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

.send-me-the-email-button {
  width: 220px;
  height: 50px;
  border-radius: 8px;
  border-style: unset;
  font-size: 21px;
  background-color: #2A3647;
  color: white;
  cursor: pointer;
  &:hover{
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
}

@media(max-width: 1000px){
  .fmp-paragraph {
    padding: 0 50px !important;
  }
}

@media(max-width: 680px){
  .fmp-paragraph {
    font-size: 20px;
  }
}

@media(max-width: 375px){
  .fmp-paragraph {
    padding: 0 25px !important;
  }
}
